[submodule ".registry"]
	path = .registry
	url = https://github.com/nw-fva/nw-fva.r-universe.dev
	branch = HEAD
[submodule "LWFBrook90R"]
	path = LWFBrook90R
	url = https://github.com/pschmidtwalter/LWFBrook90R
	branch = v0.6.0
[submodule "TreeGrOSSinR"]
	path = TreeGrOSSinR
	url = https://github.com/rnuske/TreeGrOSSinR
	branch = v0.1.0
[submodule "apcf"]
	path = apcf
	url = https://github.com/rnuske/apcf
	branch = v0.3.2
[submodule "et.nwfva"]
	path = et.nwfva
	url = https://github.com/rnuske/et.nwfva
	branch = v0.1.1
[submodule "optimization"]
	path = optimization
	url = https://github.com/kaihusmann/optimization
[submodule "vegperiod"]
	path = vegperiod
	url = https://github.com/rnuske/vegperiod
	branch = v0.4.0
